<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL_Shortner</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {{{body}}}
    <script src="http://localhost:3000/copy.js"></script>
  </body>
</html>