<h2>Enter the URL and Submit</h2>

<div class="container">
  <form method="post" action="/create-url">
    <div class="row">
      <div class="col-*12*">
        <div class="input-group flex-nowrap">

          <input
            type="text"
            name="url"
            class="form-control"
            placeholder="enter url"
          />

        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>http://localhost:3000/url/{{newUrl}}</p>
</div>